$facebook-link-color: #3b5998;
$facebook-action-color: #6d84b4;

body {
  position: relative;
  padding-top: 50px;
}

footer {
  padding-bottom: 30px;
}

// Jumbotron on home page
div.jumbotron {
  h1 {
    font-family: "Helvetica Neue", "MS PGothic", "Apple SD Gothic Neo";
    margin-bottom: 30px;
    line-height: 63px;
  }
  a#hack {
    margin-top: 20px;
  }
}

// X-editable
a.editable {
  color:inherit;
}

.editable-click, a.editable-click {
    border-bottom: none;

    &:hover {
      background: yellow;
      border-bottom: none;
    }
}

.editable-container {
  .input-sm, .input-large {
    width: 270px;
  }
}

.example-modal {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  margin-left: 0;
  margin-right: 0;
  background-color: #f5f5f5;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;

  .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
}

// Advertise modal
div#modal {
  div.page-typeahead {
    img.page-picture {
      vertical-align: top;
    }
    .page-info {
      display: inline-block;
      font-size: 12px;
      padding-left: 10px;

      .page-name {
        font-weight: bold;
        color: rgb(98, 122, 173);
        white-space: nowrap;
      }
    }
  }

  div.preview {
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;

    .editable-unsaved {
      font-weight: inherit;
    }
    p {
      margin: 0;
    }
    div.col-page {
      width: 60px;
    }
    div.col-content {
      width: 400px;
    }
    h5.page-name {
      color: $facebook-link-color;
      font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
      font-weight: bold;
      font-size: 13px;
      margin: 0 0 15px;
    }
    p.post-text {
      font-size: 13px;
    }
    div.post-image-box {
      width: 100%;
      height: 207px;
      border: 1px #ddd solid;
      border-bottom: none;
      overflow: hidden;

      div.post-image-box-controls {
        position: relative;
        top: 170px;
        left: 5px;
      }
      img.post-image {
        width: 100%;
      }
    }
    p.post-headline {
      color: $facebook-link-color;
      font-weight: bold;
    }
    p.post-caption, p.post-description {
      color: gray;
    }
    p.post-description {
      margin-top: 10px;
    }
    div.well {
      display: inline-block;
      margin-bottom: 10px;
      padding: 10px;
      border-top: none;
      border-radius: 0px;
    }
    div.actions {
      a {
        color: $facebook-action-color;
      }
    }
  }
}

// Ad statistics table
table#ad-stats {
  th {
    text-align: right;
  }
  th.text-left {
    text-align: left;
  }
}
