{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Facebook Advertise Button</h1>
      <p class="lead">Advertise your product on Facebook with just a click of a button.</p>
    </div>
    <section id="concept">
      <h3>Concept</h3>
      <div class="row">
        <div class="col-md-3">
          <h4>1. Click</h4>
          <p>Clicks advertise button on the product page.</p>
        </div>
        <div class="col-md-3">
          <h4>2. Connect</h4>
          <p>Login on Facebook and authorize Vimote app if not already done.</p>
        </div>
        <div class="col-md-3">
          <h4>3. Advertise</h4>
          <p>Edit creative, audience, and budget and create link page post ad on Facebook.</p>
        </div>
        <div class="col-md-3">
          <h4>4. Monitor</h4>
          <p>Monitor impressions, clicks, add to carts, and checkouts for each product.</p>
        </div>
      </div>
    </section>
    <hr />
    <section id="demo">
      <h3>Demo</h3>
      <button type="button" data-toggle="modal" data-target="#advertise" class="btn btn-primary">Advertise</button>
      <div class="example example-modal">
        <!-- Modal -->
        <div class="modal fade" id="advertise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Advertise on Facebook</h4>
              </div>
              <div class="modal-body">
                <div class="preview">
                  <h4>Creative</h4>
                  <div class="row">
                    <div class="col-md-1">
                      <img class="profile" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/592281_163296720497064_55591213_q.jpg" />
                    </div>
                    <div class="col-md-10">
                      <h5><a href="http://www.sthsweet.com/">Somethin' Sweet</a></h5>
                      <p>
                        New products in five different styles uploaded everyday, with summer styles also available year-round!
                        Come take a look, there's somethin' sweet for every girl :)
                      </p>
                      <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn2/p480x480/1380316_229148063911929_1627901287_n.jpg" />
                      <div class="well">
                        <a href="http://www.sthsweet.com/">Somethin' Sweet</a>
                        <p class="caption">www.sthsweet.com</p>
                        <p class="description">Shop according to your taste with our five different Korean fashion brands!</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="audience">
                  <h4>Audience</h4>
                  <div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Optimized by Vimote (recommended) <a href="#"><sup>?</sup></a>
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Fans and their friends <a href="#"><sup>?</sup></a>
                      </label>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="budget">
                  <h4>Budget</h4>
                  <select class="form-control">
                    <option>Optmized (recommended)</option>
                    <option>$50</option>
                    <option>$200</option>
                    <option>$500</option>
                    <option>$1,000</option>
                    <option>Choose Your Own</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Advertise</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>              
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
    </section>
    <hr />
    <section id="code">
      <h3>Get your Advertise Button Code</h3>
      <p>The button is only visible to the logged-in Facebook users with admin access.</p>
      <div class="row">
        <form role="form">
          <div class="form-group col-md-3">
            <label for="layout">Layout</label>
            <select id="layout" class="form-control">
              <option>Standard</option>
              <option>Box</option>
              <option>Button</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="color">Color Scheme</label>
            <select id="color" class="form-control">
              <option>Light</option>
              <option>Dark</option>
              <option>Grayscale</option>
            </select>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>Before advertising:</p>
          <button type="button" class="btn btn-primary">Advertise</button>
        </div>
        <div class="col-md-3">
          <p>While advertising:</p>
          <button type="button" class="btn btn-primary" disabled="disabled">Advertising</button>
          <span class="reach glyphicon glyphicon-eye-open">15k</span>
          <span class="click glyphicon glyphicon-ok">3k</span>
          <span class="cart glyphicon glyphicon-shopping-cart">99</span>
          <span class="checkout glyphicon glyphicon-check">37</span>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Get Code</button>
    </section>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
