{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Facebook Advertise Button</h1>
      <p class="lead">Advertise your product on Facebook with just a click of a button.</p>
    </div>
    <section id="concept">
      <h3>Concept</h3>
      <div class="row">
        <div class="col-md-3">
          <h4>1. Click</h4>
          <p>Clicks advertise button on the product page.</p>
        </div>
        <div class="col-md-3">
          <h4>2. Connect</h4>
          <p>Login on Facebook and authorize Vimote app if not already done.</p>
        </div>
        <div class="col-md-3">
          <h4>3. Advertise</h4>
          <p>Edit creative, audience, and budget and create link page post ad on Facebook.</p>
        </div>
        <div class="col-md-3">
          <h4>4. Monitor</h4>
          <p>Monitor impressions, clicks, add to carts, and checkouts for each product.</p>
        </div>
      </div>
    </section>
    <hr />
    <section id="demo">
      <h3>Demo</h3>
      <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-primary">Advertise</button>
      <div class="example example-modal">
        <!-- Modal -->
        {% include "modal.html" %}
      </div>
    </section>
    <hr />
    <section id="code">
      <h3>Get your Advertise Button Code</h3>
      <p>The button is only visible to the logged-in Facebook users with admin access.</p>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="layout">Layout</label>
          <select id="layout" class="form-control">
            <option>Standard</option>
            <option>Box</option>
            <option>Button</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="color">Color Scheme</label>
          <select id="color" class="form-control">
            <option>Light</option>
            <option>Dark</option>
            <option>Grayscale</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>Before advertising:</p>
          <button type="button" class="btn btn-primary">Advertise</button>
        </div>
        <div class="col-md-3">
          <p>While advertising:</p>
          <button type="button" class="btn btn-primary" disabled="disabled">Advertising</button>
          <div class="stats">
            <span class="reach glyphicon glyphicon-eye-open">15k</span>
            <span class="click glyphicon glyphicon-ok">3k</span>
            <span class="cart glyphicon glyphicon-shopping-cart">99</span>
            <span class="checkout glyphicon glyphicon-usd">37</span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Get Code</button>
    </section>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static "js/hogan-2.0.0.min.js" %}"></script>
  <script src="{% static "js/typeahead.min.js" %}"></script>
  <script src="{% static "js/bootstrap-editable.min.js" %}"></script>
  <script src="{% static "js/advertise.js" %}"></script>
{% endblock %}
