{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1><span id="hello">안녕</span>, Asia!</h1>
          <p>We are Narrowcast from Seoul, Korea.</p>
          <p>Here are the three hacks we have built for the first Facebook Hackathon in Asia!</p>
          <p><a class="btn btn-primary btn-lg" id="hack" href="{% url 'advertise' %}">Let's hack »</a></p>
        </div>
        <div class="col-md-7">
          <img class="profile" src="https://dgbj9gecyz1h5.cloudfront.net/static/img/yoon.png" />
          <img class="profile" src="https://dgbj9gecyz1h5.cloudfront.net/static/img/hyeon.png" />
          <img class="profile" src="https://dgbj9gecyz1h5.cloudfront.net/static/img/kim.png" />
          <img class="profile" src="https://dgbj9gecyz1h5.cloudfront.net/static/img/park.png" />
          <img class="profile" src="https://dgbj9gecyz1h5.cloudfront.net/static/img/hwang.png" />
          <img class="profile" src="https://dgbj9gecyz1h5.cloudfront.net/static/img/hong.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Advertise Button</h2>
        <p>Insert advertise button code into your website and promote your product on Facebook with just a click of a button. Monitor impressions, clicks, and conversions such as add to carts and checkouts on your own website.</p>
        <p><a class="btn btn-default" href="{% url 'advertise' %}">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Shopify App</h2>
        <p>Install Vimote Shopify app to your store and start advertising your products on Facebook. Offsite conversion pixels are put in place automatically and your campaign is directly optmized for conversion.</p>
        <p><a class="btn btn-default" href="{% url 'shopify' %}">View details »</a></p>
     </div>
      <div class="col-md-4">
        <h2>Video Post Ad</h2>
        <p>Advertise your YouTube or Viemo video on your Facebook Page. Create an embedded video post by copy and pasting a YouTube video URL. Your video is promoted on Facebook with the budget of your choice.</p>
        <p><a class="btn btn-default" href="{% url 'video' %}">View details »</a></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var index = 0;
    var hello = ["안녕", "Hello", "你好", "元気", "नमस्ते", "สวัสดี", "Apa khabar", "Chào", "مرحبًا"];

    function sayHello() {
      if (++index >= hello.length) {
        index = 0;
      }
      if (hello[index].length > 6) {
        $("h1").css({'font-size': '45px'});
      } else {
        $("h1").css({'font-size': '63px'});
      }
      $("#hello").text(hello[index]);
    };

    jQuery(document).ready(function() {
      setInterval(function(){sayHello()}, 2000);
    });
  </script>
{% endblock %}
