<!-- Modal for creating a Facebook ad -->
<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Advertise on Facebook</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="facebook-page">Connect Your Facebook Page:</label>
            <input type="text" class="form-control" id="facebook-page" placeholder="Choose a Facebook Page to represent yout business" />
          </div>
        </form>
        <div class="preview">
          <h4>Creative</h4>
          <div class="row">
            <div class="col-md-1">
              <img class="ad_profile" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/592281_163296720497064_55591213_q.jpg" />
            </div>
            <div class="col-md-10">
              <h5><a class="ad_headline" href="http://www.sthsweet.com/"></a></h5>
              <p class="ad_text"></p>
              <div class="ad_thumbnail_box">
                <div class="ad_thumbnail_box_controls">
                  <button class="btn btn-default btn-sm btn-left"><span class="glyphicon glyphicon-chevron-left"></span></button>
                  <button class="btn btn-default btn-sm btn-right"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <img class="ad_thumbnail" src="" />
              </div>
              <div class="well">
                <a class="ad_headline" href="http://www.sthsweet.com/"></a>
                <p class="caption ad_url"></p>
                <p class="description ad_text"></p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="audience">
          <h4>Audience</h4>
          <div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Optimized by Vimote (recommended) <a href="#"><sup>?</sup></a>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                People who like your Page and their friends <a href="#"><sup>?</sup></a>
              </label>
            </div>
          </div>
        </div>
        <hr>
        <div class="budget">
          <h4>Budget</h4>
          <select class="form-control">
            <option>Optmized (recommended)</option>
            <option>$50</option>
            <option>$200</option>
            <option>$500</option>
            <option>$1,000</option>
            <option>Choose Your Own</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Advertise</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>              
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% block script %}
<script src="//code.jquery.com/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  var images = $('img')
  var cur_index = 0;
     
  function changeThumbnail(index) {
    $('img.ad_thumbnail').attr('src', images[index]['src']);
  }
  
  // set headline & site domain
  var title = $('title').text();
  if (title.length > 0) {
    $('.ad_headline').text(title.substring(0,25));
    $('.ad_headline').attr('href', document.URL);
    $('.ad_url').text(window.location.hostname);
  }

  // set ad text
  var text = $('p').text();
  if (text.length > 0) {
    $('.ad_text').text(text.substring(0,90));
  }

  // set ad preview thumbnail
  if (images.length > 0) {
    changeThumbnail(cur_index);    
  }

  $('.btn-left').click(function(){
    if (cur_index > 0) {
      changeThumbnail(--cur_index);
    };
  });  
  $('.btn-right').click(function(){
    if (cur_index < images.length-1) {
      changeThumbnail(++cur_index);
    };
  });


});
</script>
{% endblock %}
