{% extends "base.html" %}

{% block content %}

  <div id="shopify" class="container">
    <div class="page-header">
      <h1>Shopify App for Facebook Advertising</h1>
      <p class="lead">Advertise your product on Facebook with Shopify.</p>
    </div>
    <section id="concept">
      <h3>Concept</h3>
      <div class="row">
        <div class="col-md-4">
          <h4>1. Connect</h4>
          <p>Connect your Shopify store to the Vimote Shopify app and Vimote Facebook app. This is done by simply installing the Vimote app from the Shopify App Store.</p>
        </div>
        <div class="col-md-4">
          <h4>2. Advertise</h4>
          <p>Create Facebook Page Post Link Ads directly from your product listing. Offsite conversion pixels for page view and checkout are automatically created and installed.</p>
        </div>
        <div class="col-md-4">
          <h4>3. Optimize</h4>
          <p>Analyze which advertisements are giving you the best return on investment. Targeting and budget are optimized automatically according to the ad performance</p>
        </div>
      </div>
    </section>
    <hr />
    <section id="demo">
      <h3>Demo</h3>
      <form action="{% url 'shopify_connect' %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Connect" />
      </form>
    </section>
  </div>
    
{% endblock %}
