{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load tags %}

{% block content %}

  <div id="shopify-demo" class="container">
    <div class="page-header">
      <h1>{{ current_shop.name }}</h1>
      <p class="lead">Advertise products from your Shopify store on Facebook.</p>
    </div>
    <section id="products">
      <h3>Products</h3>
      <div class="row">
        {% for product in products %}
          <div class="col-md-3">
            <div class="product thumbnail" id="{{ product.id }}">
              {% if product.image %}
                <img src="{{ product.image.large }}" />
              {% endif %}
              <div class="caption">
                <h4 class="title">{{ product.title }}</h4>
                <p class="handle">{{ product.handle }}</p>
                <p class="price">{{ product.price_range|currency:current_shop.currency }}</p>
                <p class="description">{{ product.body_html|safe }}</p>
                <p><button class="btn btn-primary" data-toggle="modal" data-target="#modal">Advertise</button></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Modal -->
      {% include "modal.html" %}
    </section>
    <hr />
    <section id="campaigns">
      <h3>Ad Statistics</h3>
      <table class="table table-striped" id="ad-stats">
        <thead>
          <tr>
            <th class="text-left">Campaign</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th><span class="glyphicon glyphicon-camera"></span></th>
            <th><span class="glyphicon glyphicon-facetime-video"></span></th>
            <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
            <th><span class="glyphicon glyphicon-eye-open"></span></th>
            <th><span class="glyphicon glyphicon-leaf"></span></th>
            <th><span class="glyphicon glyphicon-link"></span></th>
            <th><span class="glyphicon glyphicon-upload"></span></th>
            <th><span class="glyphicon glyphicon-shopping-cart"></span></th>
            <th><span class="glyphicon glyphicon-usd"></span></th>
          </tr>
        </thead>
        <tbody class="text-right">
          {% for ad_stat in ad_stats %}
            {% if ad_stat.is_completed == False %}
              <tr>
                <td class="text-left">
                  <a href="#">{{ ad_stat.campaign_id }}</a>
                </td>
                <td>{{ ad_stat.impressions|intcomma }}</td>
                <td>{{ ad_stat.clicks|intcomma }}</td>
                <td>{{ ad_stat.actions.photo_view|intcomma }}</td>
                <td>{{ ad_stat.actions.video_play|intcomma }}</td>
                <td>{{ ad_stat.actions.post_like|intcomma }}</td>
                <td>{{ ad_stat.actions.offsite_conversion.key_page_view|intcomma }}</td>
                <td>{{ ad_stat.actions.offsite_conversion.lead|intcomma }}</td>
                <td>{{ ad_stat.actions.link_click|intcomma }}</td>
                <td>{{ ad_stat.actions.post|intcomma }}</td>
                <td>{{ ad_stat.actions.offsite_conversion.add_to_carts|intcomma }}</td>
                <td>{{ ad_stat.actions.offsite_conversion.checkouts|intcomma }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>

{% endblock %}

{% block script %}
  <script src="{% static "js/hogan-2.0.0.min.js" %}"></script>
  <script src="{% static "js/typeahead.min.js" %}"></script>
  <script src="{% static "js/bootstrap-editable.min.js" %}"></script>
  <script src="{% static "js/advertise.js" %}"></script>
  <script type="text/javascript">
    $("div.product button").click(function(e) {
      // Advertise button is clicked on a product
      var current_shop_name = "{{ current_shop.name }}";
      var button = $(e.target);
      var product = button.parent().parent().parent();
      var image = product.children("img");
      var caption = product.children("div.caption");
      var handle = caption.children("p.handle");
      var title = caption.children("h4.title");
      var description = caption.children("p.description");
      var link_url = document.location.protocol + "//{{ current_shop.domain }}/products/" + handle.text();

      // Update display and form fields
      $("input#link-url").val(link_url);
      $("img.post-image").attr('src', image[0].src);
      $("input#post-image-url").val(image[0].src);
      $("p.post-text").editable('setValue', "Please enter your message here.");
      $("p.post-headline a.editable").editable('setValue', title.text());
      $("input#post-headline").val(title.text());
      $("p.post-caption a.editable").editable('setValue', current_shop_name);
      $("input#post-caption").val(current_shop_name);
      $("p.post-description").editable('setValue', description.text());
      $("input#post-description").val(description.text());
    });
  </script>
{% endblock %}
